<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pontos Turisticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="/assets/icon/img/pousadae/quarto.jpeg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>1 Cama de Solteiro</ion-card-subtitle>
      <ion-card-title>Quarto de Casal Econômico </ion-card-title>
    </ion-card-header>

    <ion-grid text-center>
      <ion-row>
        <ion-col size="6" >
          <ion-item color="dark">
            <ion-avatar slot="start" color="primary">
              <img src="/assets/fast-food-outline.svg">
            </ion-avatar>
            <p>Café da Manhã</p>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item color="dark">
            <ion-avatar slot="start">
              <img src="/assets/wifi.svg">
            </ion-avatar>
            <p>Wifi gratuito</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item color="dark">
            <ion-avatar slot="start">
              <img src="/assets/snow-outline.svg">
            </ion-avatar>
            <p>Sem Ar-Condicionado</p>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item color="dark">
            <ion-avatar slot="start">
              <img src="/assets/rainy-outline.svg">
            </ion-avatar>
            <p>Sem banheiro</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item color="dark">
            <ion-avatar slot="start">
              <img src="/assets/tv.svg">
            </ion-avatar>
            <p>Sem TV</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="2">

      </ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/card.svg">
          </ion-avatar>
          <p>Valor da Diaria: R$30,00</p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
