<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pontos Turisticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="bg-home " >
      <ion-slides pager="true" [options]="slideOpts" >
        <ion-slide *ngFor="let imagem of imagens" >
              <div class="img">
                <ion-img  src="{{imagem.img}}" ></ion-img>
              </div>
        </ion-slide>

      </ion-slides>
      <div>
        <ion-grid text-center>
          <ion-row>
              <ion-col size="6">
                  <ion-button routerLink="/ponto-turistico/igrejas" class="large" size="large" expand="block" color="light">
                      <div class="vertical">
                          <ion-icon color="primary" slot="start" name="home"></ion-icon>
                          <span>Igrejas</span>
                      </div>
                  </ion-button>
              </ion-col>

              <ion-col size="6">
                  <ion-button routerLink="/ponto-turistico/rios" class="large" size="large" color="light" expand="block">
                      <div class="vertical">
                          <ion-icon color="primary" slot="start" name="cloudy-sharp"></ion-icon>
                          <span>Rios </span>
                      </div>
                  </ion-button>
              </ion-col>

              <ion-col size="6">
                  <ion-button routerLink="/ponto-turistico/praca" class="large" size="large" color="light" expand="block">
                      <div class="vertical">
                          <ion-icon color="primary" slot="start" name="golf"></ion-icon>
                          <span>Praças</span>
                      </div>
                  </ion-button>
              </ion-col>

              <ion-col size="6">
                  <ion-button routerLink="/ponto-turistico/outros" class="large"  size="large" expand="block" color="light">
                      <div class="vertical">
                          <ion-icon color="primary" slot="start" name="ticket"></ion-icon>
                          <span> Outros</span>
                      </div>
                  </ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
      </div>
    </div>
</ion-content>
