<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Povoados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-home">
  <ion-card *ngFor="let povoado of povoados" (click)="abrirDetalhes(povoado.nome)">
    <ion-card-header>
      <ion-img class="img-grande" src="{{povoado.img}}"></ion-img>
      <ion-card-subtitle class="ion-text-center">Povoado</ion-card-subtitle>
      <ion-card-title class="ion-text-center">{{povoado.nome}} </ion-card-title>
    </ion-card-header>
    
  </ion-card>
</div>
</ion-content>
