<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Povoados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img src="/assets/monduriu.jpg"></ion-img>
      <ion-card-subtitle>Povoado</ion-card-subtitle>
      <ion-card-title>Rabeca</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-img src="/assets/nome.jpg"></ion-img>
      <ion-card-subtitle>Povoado</ion-card-subtitle>
      <ion-card-title>Sumauma</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>
