<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Portal dos Guarás</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-home">
    <div>
      <ion-slides pager="true" >
        <ion-slide>
          <ion-card >
            <ion-card-header>
              <div class="img">
                <ion-img  src="/assets/icon/img/portalg/portalguara.jpg" ></ion-img>
              </div>
              <ion-card-subtitle>Frente</ion-card-subtitle>
              <ion-card-title>Portal dos Guarás</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card >
            <ion-card-header>
              <div class="img">
                <ion-img class="img-grande" src="/assets/icon/img/portalg/quarto.jpg" ></ion-img>
              </div>
              <ion-card-subtitle>Quarto</ion-card-subtitle>
              <ion-card-title>Portal dos Guarás</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card >
            <ion-card-header>
              <div class="img">
                <ion-img class="img-grande" src="/assets/icon/img/portalg/estacionamento.jpg" ></ion-img>
              </div>
              <ion-card-subtitle>Estacionamento</ion-card-subtitle>
              <ion-card-title>Portal dos Guarás</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    <div>
      <ion-grid text-center>
          <ion-row>
              <ion-col size="6">
                  <ion-button (click)="valoresModal()"  class="large" size="large" expand="block" color="light">
                      <div class="vertical">
                          <ion-icon color="primary" slot="start" name="card"></ion-icon>
                          <span>VALORES</span>
                      </div>
                  </ion-button>
              </ion-col>

              <ion-col size="6">
                  <ion-button (click)="telefoneAlert ()"  class="large" size="large" color="light" expand="block">
                      <div class="vertical">
                          <ion-icon  color="primary" slot="start" name="call"></ion-icon>
                          <span>Telefone</span>
                      </div>
                  </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button (click)="localizaModal()" class="large" size="large" color="light" expand="block">
                    <div class="vertical">
                        <ion-icon color="primary" slot="start" name="location"></ion-icon>
                        <span>Localização</span>
                    </div>
                </ion-button>
            </ion-col>
          </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
