<ion-header >
  <ion-toolbar>
    <ion-title class="ion-text-center"> {{titulo}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="_dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-home">
    <!--Rios -->
    <ion-card *ngFor="let rio of rioModal"  >
          <ion-img class="img" src="{{rio.img}}"></ion-img>
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">{{rio.local}}</ion-card-subtitle>
            <ion-card-title class="ion-text-center">{{rio.nome}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{rio.text}}</ion-card-content>
    </ion-card>
    <!--Outros-->
    <ion-card *ngFor="let outro of outrosModal"  >
      <ion-img class="img" src="{{outro.img}}"></ion-img>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">{{outro.local}}</ion-card-subtitle>
        <ion-card-title class="ion-text-center">{{outro.nome}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{outro.text}}</ion-card-content>
  </ion-card>
  <!--Igrejas-->
  <ion-card *ngFor="let igreja of igrejasModal"  >
    <ion-img class="img" src="{{igreja.img}}"></ion-img>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">{{igreja.local}}</ion-card-subtitle>
      <ion-card-title class="ion-text-center">{{igreja.nome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{igreja.text}}</ion-card-content>
</ion-card>

  </div>


</ion-content>


