<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>História</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="bg-home">
  <ion-card>
    <ion-img src="/assets/ilhadospassaros.jpg" ></ion-img>
    <ion-card-header>
      <ion-card-title >Historia de Porto Rico </ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Porto Rico do Maranhão Maranhão - MA <br>
        Histórico <br>
    Porto Rico do Maranhão é originário do município de Cedral, cujo território ocupava,
    foi criado pela lei nº 6.134, de 10-11-1994, publicada no Diário Oficial do Estado na mesma data. <br>
    Em fase de estruturação, o município tem como primeiro prefeito, o Dr. Luís Henrique Diniz Fonseca,
    eleito de 1996, do PMDB. Assumiu o seu mandato em 01-01-1997,
    dando início de fato à existência de Porto Rico do Maranhão.<br>
    Porto Rico do Maranhão era inicialmente, apenas uma praia, com pequeno porto, Quebra Bico, onde se desenvolvia
    forte atividade pesqueira. Transformou-se potencialmente em próspera vila, homenagear seus país de origem, a
    denominação de Porto Rico, logo aceita e adotada por todos. <br>
    Uma segunda versão para a origem do nome “Porto Rico” é contada pelos seus mais antigos moradores,
    como sendo orginário da atividade pesqueira naquele porto, que atraia moradores de Mariscos povoados vizinhos,
    de municípios como Tutóia e de outros Estados como Piauí e Ceará, pela grande quantidade de peixes e mariscos ali
      também já havia se chamado Colo Bico, para Porto Rico, que hoje é a sede do município de Porto Rico, que hoje é
      a sede do município de Porto Rico do Maranhão. <br>
  Gentílico: porto-riquense <br>
  Formação Administrativa <br>
  Elevado à categoria de município e distrito com a denominação de Porto Rico do Maranhão, pala lei estadual nº 6134,
  de 10-11-1994, desmembrado de Cedral. Sede no atual distrito de Porto Rico. Constituído do distrito sede. Instalado em 01-01-1997. <br>
  Em divisão territorial datada de 15-VII-1997, o município é constituído do distrito sede. <br>
  Assim permanecendo em divisão territorial datada de 2005. <br>
  <h4>Fonte</h4> <br>
  IBGE
  </ion-card-content>
  </ion-card>

</div>
</ion-content>


