
<ion-content >
 <!--<p class="ion-text-center"> <img src="/assets/logo.png" class="img" alt="logo"></p>-->
<div class="bg-home " >
    <p class="ion-text-center"> <img src="/assets/porto rico tur (1).png" class="img" ></p>
    <div>
    <ion-grid text-center>
        <ion-row>
            <ion-col size="6">
                <ion-button routerLink="/rota" class="large" size="large" expand="block" color="light">
                    <div class="vertical">
                        <ion-icon color="primary" slot="start" name="airplane"></ion-icon>
                        <span>Rota</span>
                    </div>
                </ion-button>
            </ion-col>

            <ion-col size="6">
                <ion-button routerLink="/ponto-turistico" class="large" size="large" color="light" expand="block">
                    <div class="vertical">
                        <ion-icon color="primary" slot="start" name="trail-sign"></ion-icon>
                        <span>Pontos <br>Turisticos</span>
                    </div>
                </ion-button>
            </ion-col>

            <ion-col size="6">
                <ion-button routerLink="/hoteis" class="large" size="large" color="light" expand="block">
                    <div class="vertical">
                        <ion-icon color="primary" slot="start" name="storefront"></ion-icon>
                        <span>Hotéis</span>
                    </div>
                </ion-button>
            </ion-col>

            <ion-col size="6">
                <ion-button routerLink="/restaurantes" class="large"  size="large" expand="block" color="light">
                    <div class="vertical">
                        <ion-icon color="primary" slot="start" name="restaurant"></ion-icon>
                        <span> Restaurantes</span>
                    </div>
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button routerLink="/povoados" class="large" size="large" color="light" expand="block">
                    <div class="vertical">
                        <ion-icon color="primary" slot="start" name="ticket"></ion-icon>
                        <span>Povoados</span>
                    </div>
                </ion-button>
            </ion-col>

            <ion-col size="6">
                <ion-button routerLink="/historia" class="large"  size="large" expand="block" color="light">
                    <div class="vertical">
                        <ion-icon color="primary" slot="start" name="book"></ion-icon>
                        <span> História</span>
                    </div>
                </ion-button>
            </ion-col>

        </ion-row>
    </ion-grid>
</div>

</div>

  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
        <ion-fab-button>
            <ion-icon name="desktop" url="https://portorico.ma.gov.br"></ion-icon>
        </ion-fab-button>

        <ion-fab-button>
            <ion-icon name="logo-facebook" url="https://www.facebook.com/euamoportorico"></ion-icon>
        </ion-fab-button>

        <ion-fab-button>
            <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>


      </ion-fab-list>
  </ion-fab>





</ion-content>



 <!--    Botões de menu-->
