<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Restaurantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-home">
    <ion-slides pager="true" >
      <ion-slide>
        <ion-card routerLink="/restaurantes/r-portal">
          <ion-card-header>
            <div class="img">
              <ion-img class="imag" src="/assets/icon/img/portalg/portalguara.jpg"></ion-img>
            </div>
            <ion-card-subtitle>Povoado Rabeca:</ion-card-subtitle>
            <ion-card-title>Restaurante Portal dos Guarás</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card routerLink="/restaurantes/esperanca">
          <ion-card-header>
            <div></div>
              <ion-img class="imag" src="/assets/icon/img/nira/frente.jpeg" ></ion-img>
            
           
            <ion-card-subtitle>Sede: Porto Rico</ion-card-subtitle>
            <ion-card-title>Restaurante Esperança</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      
    </ion-slides>
  
  </div>
  
</ion-content>
